# Telegram Bot
BOT_TOKEN=

# Gemini
GEMINI_API_KEY=

# WebSearch
SERPER_API_KEY=

# Postgres
DB_HOST=localhost
DB_PORT=5430
DB_USER=postgres_user
DB_PASSWORD=
DB_NAME=

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0